html, body{
  overflow-x: hidden;
}
body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #002130;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 5px;
}
p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 100;
}

/* GRID */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content:" ";
  display: table;
}
.container:after {
  clear:both;
}
.one-half, .one-third, .one-fourth {
  width:96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}

/* MEDIA */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .one-half {
    width:46%;
  }
  .one-third {
    width:29.33333%;
  }
  .one-fourth {
    width:21%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* HEADER */
header {
  color:#FFFFFF;
  background: #025F71;
  background-image: linear-gradient(245deg, #FFFFFF 0%, #025F71 100%);
}
header nav {
  padding:1em 0;
}
header nav ul {
  display:inline;
  text-align: right;
  float: right;
  margin:0;
}
header nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin:0 15px;
}
header nav ul > li.btn-outline {
  padding:10px 15px;
  border:2px solid #FFFFFF;
  border-radius: 4px;
}
header nav ul > li.btn-outline:hover {
  background:#FFFFFF;
}
header nav ul > li > a {
  color:#FFFFFF;
  text-decoration: none;
}
header nav ul > li.btn-outline:hover > a {
  color:#FFC565
}
header .hero {
  text-align: center;
  display: block;
  position: relative;
}
header .hero h1 {
  font-size: 48px;
  font-weight: normal;
  margin:95px 0 0;
}
header .hero p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 100;
  margin:10px 0 40px;
}
header .hero img {
  display: block;
  margin:3em auto 0;
}

/* BUTTONS */
.btn {
  border-radius: 4px;
  color:#FFFFFF;
  font-weight: 700;
  text-decoration: none;
  padding:10px 30px;
  background: #FFC565;
  border: 2px solid #FFC565;
  box-shadow: 0px 2px 0px 0px #D97400;
}

/* BENEFITS */
.benefits {
  text-align: center;
  display:block;
  position: relative;
}
.benefits ul {
  margin: 0 auto;
  padding:4em 0;
}
.benefits ul li {
  list-style-type: none;
  display:inline-block;
}
.benefits i {
  color:#11A39F;
  font-size:64px;
  margin:0;
  vertical-align: middle;
}
.benefits h2 {
  color: #11A39F;
}

/* PRICING */
.pricing {
  background: #025F71;
  background-image: linear-gradient(245deg, #FFFFFF 0%, #025F71 100%);
  text-align: center;
  padding:4em, 0;
}
.pricing h2, .pricing p {
  color:#FFFFFF;
}
.pricing ul {
  margin:0 auto;
  padding:2em 0;
}
.pricing ul li {
  list-style-type: none;
}
.box {
  padding:0 15px 15px;
  background:#FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  min-height:439px;
  position: relative;
  margin-top:25px;
}
.box.middle {
  min-height:485px;
  margin-top:0px
}
.box h3 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight:600;
  text-transform: uppercase;
  background:#F0F0F0;
  box-shadow:0px 1px 2px 0px rgba(0,0,0,0.40);
  left:0;
  right:0;
  top:0;
  text-align: center;
  margin:0 -15px 40px;
  padding:10px 0;
}
.box h4 {
  font-size:50px;
  font-weight: normal;
  margin:40px 0 10px;
  color: #ED9708;
}
.box h4 span {
  font-size:32px;
  vertical-align: top;
}
.box h4 span.month {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight:100;
  color:#D97400;
  font-size:20px;
  vertical-align: middle;
}
.box ul li {
  font-size:18px;
  margin-bottom:20px;
  font-weight:100;
}
.box .btn {
  position:absolute;
  bottom:20px;
  left:20px;
  right:20px;
}
.small {
  font-size:12px;
  color:#FEFEFE;
  line-height:15px;
  font-style:italic;
}
.pricing strong {
  font-weight: bold;
}

/* TESTIMONIALS */
.testimonials {
  padding:4em 0;
  text-align: center;
}
.testimonials h2 {
  color: #025F71;
}
.testimonials ul li {
  list-style-type:none;
}
.testimonials blockquote {
  color:#FFFFFF;
  text-align: left;
  font-style: italic;
  background:#025F71;
  position: relative;
  padding:30px;
  width:auto;
  margin:0;
}
.testimonials blockquote:after {
  top: 100%;
  left: 13%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #025F71;
  border-width: 10px;
  margin-left: -10px;
}
.testimonials img {
  height: 65px;
  width: 65px;
  border-radius:50%;
  float: left;
  display: inline-block;
  margin:20px 10px 0 0;
}
.testimonials p.name {
  float:left;
  display: inline-block;
  text-align: left;
  font-size:13px;
  margin-top: 30px;
}
.testimonials .v2 {
  position: relative;
  margin: 20px 0 0 0;
}
.testimonials strong {
  font-weight: bold;
}

/* QUALITIES */
.qualities {
  text-align: center;
  display:block;
  position: relative;
  color: #025F71;
  font-size: 28px;
  background: #F0F0F0;
  padding:2em 0 0 2em;
  height: 300px;
  line-height: 40px
  }
}
.qualities ul {
  margin: 0 auto;
  padding:4em 0;
  list-style-type: none;
}
.qualities li {
  list-style-type: none;
  display:inline-block;
}
.qualities .btn {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size:18px;
  margin-bottom:20px;
  font-weight:100;
}

/* FOOTER */

footer {
  background-color: #002130;
  background-image: linear-gradient(to top, #008AA5 0%, #008AA5 50%, #002130 50%, #002130 100%);
  color: #FFFFFF;
  height:150px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
footer p, footer nav ul {
  font-size:14px;
  font-weight:100;
  text-align: center;
  margin:10px auto 0;
}
footer nav ul li {
  list-style-type: none;
  display: inline;
}
footer nav ul li a {
  color:#FFFFFF;
  text-decoration: none;
}
footer .right-footer-block {
  background-color: transparent;
}
footer .logo {
  padding: 2.35em 0;
  margin: 0 auto;
  display: block;
}
@media (min-width:992px){
  footer{
    background-color:#008AA5;
    background-image: linear-gradient(to left, #008AA5 0%, #008AA5 33.33337%, #002130 33.33337%, #002130 100%);
    height: 100px;
  }
  footer p, footer nav ul{
    padding: 2em 0;
    text-align: left;
  }
  footer .right-footer-block {
    background-color: #008AA5;
  }
  footer .logo{
    padding: 2em 0 2em 1.5em;
  }
}

/* DASHBOARD */
.dashboard {
  background:#F7F7F7;
}
.left-nav {
  height:100%;
  width:280px;
  position:absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: translate(-280px,0);
    -webkit-transform: translate(-280px,0); /** Chrome & Safari **/
    -o-transform: translate(-280px,0); /** Opera **/
    -moz-transform: translate(-280px,0); /** Firefox **/
}
.left-nav.open {
  display:block;
  width:280px;
  background:#025F71;
  background-image: linear-gradient(206deg, #5F81a3 0%, #025F71 94%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: translate(0,0);
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -o-transform:translate(0,0); /** Opera **/
    -moz-transform:translate(0,0); /** Firefox **/
    z-index: 100;
}
.hamburger {
  position: absolute;
  z-index:1000;
  background:#34495e;
  color:#FFFFFF;
  text-decoration:none;
  font-size:22px;
  padding:10px 15px;
  border-radius: 4px;
  left:5px;
  top:15px;
}
@media (min-width:992px) {
  .left-nav {
    height:100vh;
    width:14.66666667%;
    color:#FFFFFF;
    background: #34495e;
    background-image: linear-gradient(206deg, #5F81a3 0%, #025F71 94%);
    float:left;
    position:fixed;
    display:block;
    transform:translate(0,0);
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform:translate(0,0); /** Firefox **/
  }
  .hamburger {
    display:none;
  }
}



.left-nav .site-logo{
  padding:20px 0;
  background: ##008AA5;
  display:block;
  text-align:center;
}
.left-nav .items{
  padding:0 6%;
}
.left-nav .items p {
  font-weight:600;
  text-transform: uppercase;
  font-size: 12px;
  color: #e2e2e2e2;
  line-height: 15px;
}
.left-nav .items ul {
  margin:0 0 40px;
  padding: 0;
}
.left-nav .items ul li{
  list-style-type:none;
  margin-bottom: 15px;
}
.left-nav .items ul li a {
  color:#FFFFFF;
  text-decoration: none;
  font-weight: 100;
}
.left-nav .items ul li a i {
  width:16px;
  text-align:center;
  margin-right:8px;
}
.left-nav .active {
  color:#FFFFFF;
  background-color:#FFC565;
  text-decoration: none;
  font-weight: 100;
}


/* LEFT NAVBAR SETTINGS */
.left-nav .settings {
  position:absolute;
  background:#22303e;
  width:100%;
  bottom:0;
  left:0;
  right:0;
  padding:10px 0;
}
.left-nav .settings img{
  height:35px;
  width:35px;
  border-radius:50%;
  margin-left:10px;
  display: inline-block;
}
.left-nav .settings p{
  display: inline-block;
  vertical-align: top;
  padding-top: 8px;
  font-weight:400;
  margin:0 0 0 10px;
}
.left-nav .settings a{
  color:#FFFFFF;
  text-decoration: none;
  text-align: right;
  float: right;
  margin-right:10px;
  margin-top:8px;
}

/* CONTENT */
.content {
  padding:6em 1% 1.5em;
  float:right;
  width:98%;
  position:relative;
}
.content .header {
  margin:0 1% 20px;
}
.content .header h1 {
  font-family:"Lato", Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin:0 0 30px;
  font-size: 36px;
  color: #3498db;
  line-height:44px;
  float:left;
  display:inline-block;
}
.content .header > a {
  float:right;
}
.content-item {
  width:96%;
  margin:0 2% 25px;
  float:left;
  display:block;
}
.item-box {
  display:block;
  height:230px;
  background:#FFFFFF;
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.40);
  position: relative;
  padding:20px;
  overflow: hidden;
}

/* Larger Mobile Devices */
@media (min-width:460px) {
  .content {
    padding:1.5em 1%;
    float:right;
    width:90%;
    position:relative;
  }
  .content-item {
    width:46%;
    margin:0 2% 25px;
    float:left;
    display:block;
  }
}
/* Tablets */
@media (min-width:768px) {
  .content {
    padding:1.5em 5%;
    float:right;
    width:90%;
    position:relative;
  }
  .content > .container {
    width:700px;
  }
  .content-item {
    width:31.33333%;
    margin:0 1% 25px;
  }
}
/* Laptops and Desktops */
@media (min-width:992px) {
  .content {
    padding:1.5em 1%;
    float:right;
    width:83.33333333%;
    position:relative;
  }
  .content > .container {
    width:auto;
  }
  .content-item {
    width:23%;
    margin:0 1% 25px;
  }
}

.item-box > img {
  position: absolute;
  height:100%;
  width:auto;
  top:0;
  left:0;
  right:0;
}
.item-box h2 {
  font-family:'Lato', helvetica, arial, sans-serif;
  font-weight:700;
  font-size: 15px;
  line-height:17px;
  margin:0;
}
.item-box h2 a {
  color: #3498db;
  text-decoration: none;
}
.item-box h2 img {
  width:16px;
  height:16px;
  position:relative;
  top:2px;
  margin-right:5px;
}
.item-box p {
  font-size:14px;
  color: #333333;
  line-height: 18px;
  margin:5px 0 0;
}
